@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Nunito';
	src: url('./lib/assets/fonts/Nunito-VariableFont_wght.ttf');
}

.transit {
	@apply transition-all duration-500 ease-linear;
}

body {
	@apply bg-slate-700 text-white transit font-[Nunito] !tracking-widest font-extralight;
}

body,
div,
p,
span,
a,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea,
label {
	@apply tracking-widest;
}

.nsb::-webkit-scrollbar {
	display: none !important;
}

.nsb {
	-ms-overflow-style: none !important;
	scrollbar-width: none !important;
}

.btn {
	@apply px-3 py-2 bg-teal-400/70 text-center rounded-xl;
}

.btn-primary {
	@apply bg-teal-400/70;
}
